PORT=3000

# Admin password
ADMIN_PASSWORD="password"

# Encryption master key (32 bytes hex = 64 chars)
MASTER_KEY="2f3c9f9b6a432d2a0315546f2b5815a43eccebc4ea627bfd468f9849a1a9b58a"

# Email config (nodemailer)
EMAIL_HOST=example.com
EMAIL_PORT=465
EMAIL_USER=admin@example.com
EMAIL_PASS=emailPassword
